.navbar-inferiore-frame {
    position: absolute;
    bottom: 1.2rem;
    right: 1.2rem;
    padding: 10px;
    text-align: center;
}

.navbar-inferiore-icona {
    font-size: 2.5rem;
    width: 5rem;
    height: 5rem;
    background-color: whitesmoke;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(137, 207, 240); /*Colore della applicazione*/
}

.homeButton{
    /*La icona home deve stare a cavallo del modale*/
    position: relative;
    top: -7rem;
}

.proprietaRiga{
    position: relative;
    top: -5rem;
}